{require_min_otp_vsn, "18"}.

{deps, [{cpg, ".*", {git, "https://github.com/Ledest/cpg.git", {branch, "master"}}}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
